@model IEnumerable<Proyecto_Ciudad_De_Los_Ninos.Models.Vacaciones>

@{
    ViewData["Title"] = "Lista de Vacaciones";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .container {
            padding: 20px;
        }

        .actions a {
            margin-right: 10px;
            text-decoration: none;
            transition: color 0.3s ease;
        }

            .actions a:hover {
                color: #0056b3;
            }

        .create-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.2em;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }

            .create-button:hover {
                background-color: #0056b3;
            }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css">
</head>
<body>
    @Html.Partial("_header")

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }

    <div class="content">
        <div class="container">
            <p>
                <a href="@Url.Action("Create")" class="btn btn-primary"><i class="ri-add-circle-line" title="Agendar"></i> Agendar Vacaciones</a>
            </p>
            <div class="table-responsive">
                <table id="tableShow" class="table table-striped table-bordered table-hover">
                    <thead class="table-danger">
                        <tr>
                            <th>Usuario</th>
                            <th>Fecha Inicio</th>
                            <th>Fecha Finaliza</th>
                            <th>Estado</th>
                            <th>Justificación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(item.User.nombre + " " + item.User.apellidos)</td>
                                <td>@Html.DisplayFor(modelItem => item.fechaInicio)</td>
                                <td>@Html.DisplayFor(modelItem => item.fechaFinaliza)</td>
                                <td>@Html.DisplayFor(modelItem => item.estado)</td>
                                <td>@(item.justificacion.Length > 20 ? item.justificacion.Substring(0, 20) + "..." : item.justificacion)</td>
                                <td class="actions d-flex">
                                    <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-warning btn-sm d-inline-flex align-items-center me-2"><i class="ri-edit-line me-1" title="Editar"></i></a>
                                    <a href="@Url.Action("Details", new { id = item.ID })" class="btn btn-info btn-sm d-inline-flex align-items-center me-2"><i class="ri-eye-line me-1" title="Detalles"></i></a>
                                    <a href="@Url.Action("Delete", new { id = item.ID })" class="btn btn-danger btn-sm d-inline-flex align-items-center"><i class="ri-delete-bin-2-line me-1" title="Eliminar"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer>
        @Html.Partial("_footer")
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
    <script src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/2.0.2/js/dataTables.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/Funciones/DataTable.js"></script> 

</body>
</html>
