@model IEnumerable<API_Ciudad_De_Los_Ninos.Models.Pruebas_Dopaje>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pruebas de Dopaje</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            background-color: #fff;
        }

        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #e0e0e0;
        }

        th {
            background-color: #f8f8f8;
            font-weight: bold;
            color: #333;
            text-transform: uppercase;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        .actions a {
            margin-right: 10px;
            text-decoration: none;
            transition: color 0.3s ease;
        }

            .actions a:hover {
                color: #0056b3;
            }

        .create-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.2em;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }

            .create-button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <!-- Contenido del encabezado -->
    @Html.Partial("_header")

    <!-- Contenido principal -->
    <div class="container">
        <p>
            <a asp-action="Create" class="create-button">Crear Nuevo</a>
        </p>
        <table>
            <thead>
                <tr>
                    <th>Usuario</th>
                    <th>Joven</th>
                    <th>Fecha y Hora</th>
                    <th>Lugar de la Prueba</th>
                    <th>Resultado</th>
                    <th>Observaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.id_usuario)</td>
                        <td>@Html.DisplayFor(modelItem => item.id_joven)</td>
                        <td>@Html.DisplayFor(modelItem => item.fecha_hora)</td>
                        <td>@Html.DisplayFor(modelItem => item.lugar)</td>
                        <td>@Html.DisplayFor(modelItem => item.resultado)</td>
                        <td>@Html.DisplayFor(modelItem => item.observaciones)</td>
                        <td class="actions">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="text-info">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="text-success">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    <!-- Footer -->
    @Html.Partial("_footer")

    <!-- Scripts -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
