@model API_Ciudad_De_Los_Ninos.Models.User

@{
    var roles = ViewData["Roles"] as SelectList;
    var roleName = roles.FirstOrDefault(r => r.Value == Model.id_rol.ToString())?.Text;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles de Usuario</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <style>
        h4 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .container-main {
            background-color: #ffffff;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin: 51.5px auto;
            max-width: 802px;
            overflow: hidden;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }

        .col-sm-3 {
            flex: 0 0 25%;
            max-width: 25%;
            font-weight: bold;
            color: #333;
        }

        .col-sm-9 {
            flex: 0 0 75%;
            max-width: 75%;
            color: #555;
            margin-bottom: 15px;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.2em;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            margin-right: 10px;
            margin-top: 20px;
        }

        .btn-primary {
            background-color: #007bff;
            color: white;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }

        .btn-secondary {
            background-color: #6c757d;
            color: white;
        }

            .btn-secondary:hover {
                background-color: #5a6268;
            }

        #footer {
            margin-top: 20px;
            background-color: #f8f9fa;
            padding: 10px 0;
            text-align: left;
            clear: both;
        }

            #footer p {
                margin: 0;
            }
    </style>
</head>
<body>

    <!-- Header -->
    @Html.Partial("_header")

    <div class="container-main">
        <h4>Detalles del Usuario</h4>
        <hr />
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Nombre de Usuario</th>
                        <td>@Html.DisplayFor(model => model.nombre_usuario)</td>
                    </tr>
                    <tr>
                        <th scope="row">Rol</th>
                        <td>@roleName</td>
                    </tr>
                    <tr>
                        <th scope="row">Nombre</th>
                        <td>@Html.DisplayFor(model => model.nombre)</td>
                    </tr>
                    <tr>
                        <th scope="row">Apellidos</th>
                        <td>@Html.DisplayFor(model => model.apellidos)</td>
                    </tr>
                    <tr>
                        <th scope="row">Correo Electrónico</th>
                        <td>@Html.DisplayFor(model => model.correo)</td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha de Nacimiento</th>
                        <td>@Model.fecha_nacimiento.ToString("dd/MM/yyyy")</td>
                    </tr>
                    <tr>
                        <th scope="row">Cédula</th>
                        <td>@Html.DisplayFor(model => model.cedula)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <br />

    <!-- Footer -->
    @Html.Partial("_footer")

    <!-- Scripts -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
