@model API_Ciudad_De_Los_Ninos.Models.Inventario_Higiene_Personal

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    @Html.Partial("_header")
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

<div>






            <h4 style="color:red">Detalles del Inventario de Higiene Personal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre_producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidad_disponible)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidad_disponible)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_ultima_reposicion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_ultima_reposicion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proveedor)
        </dd>
    </dl>
</div>
<div>
            <a asp-action="Index" type="submit" class="btn btn-primary">Editar</a>
            <a asp-action="Index" type="submit" class="btn btn-success">Volver atrás</a>
       
</div>





</body>
@Html.Partial("_footer")
<script src="js/jquery-1.11.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="~/js/plugins.js"></script>
<script type="text/javascript" src="~/js/script.js"></script>
</html>
