@model Proyecto_Ciudad_De_Los_Ninos.Models.Asistencia

@{
    ViewData["Title"] = "Crear Asistencia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        h4 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .container-main {
            background-color: #ffffff;
            padding: 19px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin: 20px auto;
            max-width: 800px;
            overflow: hidden;
        }

        .form-group {
            margin-bottom: 15px;
        }

            .form-group label {
                font-weight: bold;
                color: #333;
                margin-bottom: 10px;
                display: block;
            }

        .form-control {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
        }

        .create-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.2em;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            margin-right: 10px;
        }

            .create-button:hover {
                background-color: #0056b3;
            }

        }
    </style>
</head>
<body>
    @Html.Partial("_header")

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }

    <div class="container-main">
        <h4 class="text-center">@ViewData["Title"]</h4>
        <hr />
        <form asp-action="Create">
            <div class="row mb-3">
                <label for="id_usuario" class="col-sm-2 col-form-label">Empleado</label>
                <div class="col-sm-10">
                    <select asp-for="id_usuario" class="form-select" asp-items="ViewBag.id_usuario">
                        <option value="">Seleccione...</option>
                    </select>
                    <span asp-validation-for="id_usuario" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="estado" class="col-sm-2 col-form-label">Estado</label>
                <div class="col-sm-10">
                    <select asp-for="estado" class="form-select">
                        <option value="Presente">Presente</option>
                        <option value="Ausente">Ausente</option>
                    </select>
                    <span asp-validation-for="estado" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3" hidden>
                <label for="fecha" class="col-sm-2 col-form-label">Fecha</label>
                <div class="col-sm-10">
                    <input asp-for="fecha" class="form-control" readonly />
                    <span asp-validation-for="fecha" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3" hidden>
                <label for="horaRegistro" class="col-sm-2 col-form-label">Hora de Registro</label>
                <div class="col-sm-10">
                    <input asp-for="horaRegistro" class="form-control" readonly />
                    <span asp-validation-for="horaRegistro" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3" hidden>
                <label for="horaSalida" class="col-sm-2 col-form-label">Hora de Salida</label>
                <div class="col-sm-10">
                    <input asp-for="horaSalida" class="form-control" />
                    <span asp-validation-for="horaSalida" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="justificacion" class="col-sm-2 col-form-label">Justificación</label>
                <div class="col-sm-10">
                    <input asp-for="justificacion" class="form-control" />
                    <span asp-validation-for="justificacion" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary">Crear</button>
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col text-end">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="ri-arrow-left-circle-line"></i> Volver al Listado
                </a>
            </div>
        </div>
    </div>
    <br/>
    <br />
    <br/>
    <br />
    <br />
    <br />
    <br />
    @Html.Partial("_footer")

    <!-- Scripts -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
