@{
    ViewBag.Title = "Rifas Próximas";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.min.css">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
        }

        footer {
            background-color: #f8f9fa;
            padding: 20px 0;
            width: 100%;
        }

        .actions a {
            margin-right: 10px;
            text-decoration: none;
            transition: color 0.3s ease;
        }

            .actions a:hover {
                color: #0056b3;
            }

        .create-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.2em;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
        }

    </style>
</head>
<body>
    @Html.Partial("_header")

    <div class="content">
        <br />
        <h2 class="text-center">Rifas de Hoy</h2>
        <div class="container">
            <div class="row">
                <!-- Rifas del día de hoy -->
                @if (ViewBag.RifasHoy != null && ((List<Rifa>)ViewBag.RifasHoy).Any())
                {
                    @foreach (var rifa in (List<Rifa>)ViewBag.RifasHoy)
                    {
                        <div class="col-md-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center">Premio: @rifa.Premio</h5>
                                    <p class="card-text text-center"><strong>Fecha de la Rifa:</strong> @rifa.FechaRifa.ToString("dd/MM/yyyy HH:mm:ss")</p>
                                    <div class="text-center mb-3">
                                        <h5><strong>Tiempo Restante:</strong></h5>
                                        <h5 class="card-title text-center" id="tiempo-restante-@rifa.RifaId" data-fecha="@rifa.FechaRifa.ToString("o")" class="display-6"></h5>
                                    </div>
                                    <p class="card-text text-center">
                                        <strong>Número Ganador:</strong>
                                        <span id="numero-ganador-@rifa.RifaId">
                                            @(rifa.NumeroGanador.HasValue ? rifa.NumeroGanador.Value.ToString() : "No determinado")
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12">
                        <p>No hay rifas para el día de hoy.</p>
                    </div>
                }
            </div>
        </div>

        <br />
        <h2 class="text-center">Próximas Rifas</h2>
        <div class="container">
            <div class="row">
                <!-- Rifas futuras -->
                @if (ViewBag.RifasFuturas != null && ((List<Rifa>)ViewBag.RifasFuturas).Any())
                {
                    @foreach (var rifa in (List<Rifa>)ViewBag.RifasFuturas)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Premio: @rifa.Premio</h5>
                                    <p class="card-text"><strong>Fecha de la Rifa:</strong> @rifa.FechaRifa.ToString("dd/MM/yyyy HH:mm:ss")</p>
                                    <p class="card-text">
                                        <strong>Tiempo Restante:</strong>
                                        @if (rifa.FechaRifa > DateTime.Now)
                                        {
                                            <span id="tiempo-restante-@rifa.RifaId" data-fecha="@rifa.FechaRifa.ToString("o")"></span>
                                        }
                                        else
                                        {
                                            <span>Rifa pasada</span>
                                        }
                                    </p>
                                    <p class="card-text">
                                        <strong>Número Ganador:</strong>
                                        <span id="numero-ganador-@rifa.RifaId">
                                            @(rifa.NumeroGanador.HasValue ? rifa.NumeroGanador.Value.ToString() : "No determinado")
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="col-12">
                        <p>No hay rifas próximas.</p>
                    </div>
                }
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("[id^='tiempo-restante-']").forEach(function (countdownElement) {
                var fechaRifa = new Date(countdownElement.dataset.fecha);
                var interval = setInterval(function () {
                    var now = new Date();
                    var tiempoRestante = fechaRifa - now;

                    if (tiempoRestante > 0) {
                        if (tiempoRestante <= 30000) {
                            countdownElement.textContent = "Muy pronto se anunciará el ganador...";
                        } else {
                            var days = Math.floor(tiempoRestante / (1000 * 60 * 60 * 24));
                            var hours = Math.floor((tiempoRestante % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                            var minutes = Math.floor((tiempoRestante % (1000 * 60 * 60)) / (1000 * 60));
                            var seconds = Math.floor((tiempoRestante % (1000 * 60)) / 1000);
                            countdownElement.textContent = `${days} días, ${hours} horas, ${minutes} minutos, ${seconds} segundos`;
                        }
                    } else {
                        clearInterval(interval);
                        var numeroGanadorElement = document.getElementById("numero-ganador-" + countdownElement.id.split("-")[2]);
                        var numeroGanador = numeroGanadorElement.textContent.trim();

                        countdownElement.textContent = numeroGanador === "No determinado"
                            ? "Número Ganador: aún no ha sido determinado."
                            : "Número Ganador: " + numeroGanador;
                    }
                }, 1000);
            });
        });
    </script>

    @Html.Partial("_footer")

    <!-- Scripts -->
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/script.js"></script>
</body>
</html>
