@model API_Ciudad_De_Los_Ninos.Models.Citas

@{
    ViewData["Title"] = "Programar Cita";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Programar Nueva Cita</title>
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css">
    <style>
        /* Estilos CSS para la página */
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        h4 {
            color: #333;
            font-size: 24px;
            margin-bottom: 20px;
        }

        .container-main {
            background-color: #ffffff;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            margin: 20px auto;
            max-width: 800px;
            overflow: hidden;
        }

        .form-group {
            margin-bottom: 15px;
        }

            .form-group label {
                font-weight: bold;
                color: #333;
                margin-bottom: 10px;
                display: block;
            }

        .form-control {
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;
        }

        .create-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1.2em;
            color: white;
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            margin-right: 10px;
        }

            .create-button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    @Html.Partial("_header")
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.ErrorMessage
        </div>
    }

    <div class="container-main">
        <h4 class="text-center">Programar Nueva Cita</h4>
        <hr />
        <form asp-action="Create">
            <div class="row mb-3">
                <label for="id_usuario" class="col-sm-2 col-form-label">Usuario</label>
                <div class="col-sm-10">
                    <select id="id_usuario" asp-for="id_usuario" class="form-select">
                        <option value="">Seleccione...</option>
                        @foreach (var user in ViewBag.Users)
                        {
                            <option value="@user.Id" data-rol="@user.id_rol">@user.nombre_usuario</option>
                        }
                    </select>
                    <span asp-validation-for="id_usuario" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="id_joven" class="col-sm-2 col-form-label">Joven</label>
                <div class="col-sm-10">
                    <select asp-for="id_joven" class="form-select" asp-items="ViewBag.Jovenes">
                        <option value="">Seleccione...</option>
                    </select>
                    <span asp-validation-for="id_joven" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="fecha" class="col-sm-2 col-form-label">Fecha de la Cita</label>
                <div class="col-sm-10">
                    <input asp-for="fecha" class="form-control" type="datetime-local" step="3600" />
                    <span asp-validation-for="fecha" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="detalles" class="col-sm-2 col-form-label">Detalles</label>
                <div class="col-sm-10">
                    <textarea asp-for="detalles" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="detalles" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-10 offset-sm-2">
                    <button type="submit" class="btn btn-primary create-button">Programar Cita</button>
                </div>
            </div>
        </form>
        <div class="row mt-3">
            <div class="col text-end">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="ri-arrow-left-circle-line"></i> Volver atrás
                </a>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @Html.Partial("_footer")
    <br />
    <!-- Scripts -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/script.js"></script>
    <script>
        document.getElementById("fecha").addEventListener("change", function () {
            const fechaInput = this;
            const dateValue = new Date(fechaInput.value);

            if (!isNaN(dateValue.getTime())) {
                // Ajustar minutos a cero manteniendo la hora
                dateValue.setMinutes(0, 0, 0);

                // Convertir a formato compatible con datetime-local
                const adjustedDate = new Date(dateValue.getTime() - dateValue.getTimezoneOffset() * 60000);
                fechaInput.value = adjustedDate.toISOString().slice(0, 16);
            }
        });
    </script>


</body>
</html>
