@model API_Ciudad_De_Los_Ninos.Models.Citas

@{
    ViewData["Title"] = "Eliminar Cita";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Eliminar Cita</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilos personalizados */
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            margin: 0;
            padding: 0;
        }

        .container3 {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h3 {
            color: #dc3545;
        }

        dt {
            font-weight: bold;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }

            .btn-danger:hover {
                background-color: #c82333;
                border-color: #bd2130;
            }

        .back-link {
            color: #007bff;
            text-decoration: none;
        }

            .back-link:hover {
                color: #0056b3;
            }

        /* Estilos del footer */
        footer {
            background-color: #f8f9fa;
            padding: 20px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

            footer p {
                margin: 0;
            }
    </style>
</head>
<body>
    @Html.Partial("_header")

    <div class="container3">
        <h4>Eliminación de Citas</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Fecha:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.fecha)</dd>
            <dt class="col-sm-2">Tipo de Usuario:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.tipo_usuario)</dd>
            <dt class="col-sm-2">Detalles:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.detalles)</dd>
            <dt class="col-sm-2">Usuario:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Usuario.nombre_usuario)</dd>
            <dt class="col-sm-2">Joven:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Joven.nombre)</dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Regresar al Listado</a>
        </form>
    </div>
    @Html.Partial("_footer")
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/script.js"></script>
</body>
</html>
